<h1> Enter the four values for the delivery of a parcel</h1>

<form action ="/results">
  <div class = "form-group">
    <label id="height"> Enter the height of the Parcel </label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class = "form-group">
    <label id="width"> Enter the width of the Parcel </label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class = "form-group">
    <label id="length">Enter the length of the Parcel</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class = "form-group">
    <label id="weight">Enter the weight of the Parcel</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <button type = "submit" class="btn-success"> Send </button>
</form>
